<h1>Pages#home</h1>
<%= link_to "All Products", products_path  %>

<% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <p>Hello <%= @user.email %> </p>
  <p>You are <%= @user.admin ? '' : 'not' %> an admin </p>
  <% if @user.admin %>
    <%= link_to "Add Product", new_product_path %>
  <% end %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>
