<h1>This is my product</h1>
<%= @product.title %>

<p>This products belongs to the categories:</p>
<ul>
  <% @product_categories.each do |pc| %>
    <li> <%= pc.category.title %></li>
  <% end %>
</ul>


<% if user_signed_in? %>
  <% if policy(@product).destroy? %>
    <%= link_to "delete", product_path(@product), method: :delete %>
    <%= link_to "edit", edit_product_path(@product) %>
    <%= link_to "Add Category", new_product_category_path %>
  <% end %>
<% end %>

<%= link_to 'Home', root_path  %>
